#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#logo {
  width: 300px;
}